{
  "idle": {
    "frames": "<image>:idle.<index>",
    "mode": "loopForever",
    "frameNumber": 21,
    "animationCycle": 3
  },
  "blink": {
    "frames": "<image>:blink",
    "mode": "stop",
    "frameNumber": 1
  },
  "talk": {
    "frames": "<image>:talk.<index>",
    "mode": "loopForever",
    "frameNumber": 2,
    "animationCycle": 0.5
  },
  "yell": {
    "frames": "<image>:yell.<index>",
    "mode": "loopForever",
    "frameNumber": 2,
    "animationCycle": 0.5
  },
  "refuse": {
    "frames": "<image>:refuse.<index>",
    "mode": "loopForever",
    "frameNumber": 8
  },
  "unique": {
    "frames": "<image>:unique.<index>",
    "mode": "loopForever",
    "frameNumber": 8
  },
  "sheepish": {
    "frames": "<image>:refuse.<index>",
    "mode": "loopForever",
    "frameNumber": 8
  },
  "suspicious": {
    "frames": "<image>:refuse.<index>",
    "mode": "loopForever",
    "frameNumber": 8
  },
  "neutral": {
    "frames": "<image>:refuse.<index>",
    "mode": "loopForever",
    "frameNumber": 8
  },
  "concern": {
    "frames": "<image>:refuse.<index>",
    "mode": "loopForever",
    "frameNumber": 8
  },
  "brave": {
    "frames": "<image>:refuse.<index>",
    "mode": "loopForever",
    "frameNumber": 8
  }
}
